a {
  color: #a85ad4;
  -webkit-transition: all .3s;
  transition: all .3s;
}
 
a:hover {
  color: #a85ad4;
}
 
.section-title-devider {
    color: #a85ad4;
}

.text-color {
  color: #a85ad4!important;
}

.hero-boder-subtitle i {
  color: #a85ad4;
}
 
.btn-alpha-1 {
    background-color: #a85ad4;
}
 
.btn-alpha-1:hover, .btn-alpha-1:focus {
    background-color: #a85ad4;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #a85ad4;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #a85ad4;
}

.navbar-default .navbar-nav>li>a.nav-active {
  color: #a85ad4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #a85ad4;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #a85ad4;
}
 
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #a85ad4;
}

.icon-tab .nav-pills>li.active>a, .icon-tab .nav-pills>li.active>a:focus, .icon-tab .nav-pills>li.active>a:hover {
  background: #a85ad4;
}

.eventup-tab-button.is-active span {
  color: #a85ad4;
}

.tab-devider {
  background: #a85ad4;
}

.cbp-caption-activeWrap {
  background-color: #a85ad4;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: #a85ad4;
}

.price-title {
  color: #a85ad4;
}

.hot-price {
  color: #a85ad4;
}

.features-price {
  border: 1px solid #a85ad4;
}

.hot-label {
  background: #a85ad4;
}

.testimonial-info .name {
  color: #a85ad4;
}

.counter-icon span {
  background: #a85ad4;
}

.blog-post-wrapper {
  border-bottom: 3px solid #a85ad4;
}

.blog-post-wrapper .post-thumbnail .posted-date {
  background: #a85ad4;
}

.blog-post-wrapper .entry-title a:hover {
  color: #a85ad4;
}

.blog-post-wrapper .entry-header .entry-meta li a:hover {
  color: #a85ad4
}

.blog-post-wrapper .entry-footer a:hover {
  color: #fff;
  background: #a85ad4
}

.blog-post-wrapper .play-trigger {
  color: #a85ad4;
}

.blog-post-wrapper .play-trigger:hover {
  background: #a85ad4
}

.blog-pagination .pagination>li>a:hover, .pagination>li>span:hover {
  background: #a85ad4;
}

.blog-pagination .pagination>li>a.active {
  background: #a85ad4;
}

.single-entry-post ul li:before {
  background-color: #a85ad4;
}

.single-entry-post blockquote {
  border-left: 5px solid #a85ad4;
}

#mc-form .label-text.error {
    color: #a85ad4!important;
}
 
.map-address {
  background-color: #a85ad4;
}

.footer-widget strong {
  color: #a85ad4;
}

.accordionOne .panel .panel-heading a {
  background: #a85ad4;
}

.accordionTow .panel .panel-heading a {
  background: #a85ad4;
}

.accordionTow .panel-group .panel-heading+.panel-collapse>.panel-body {
  background: #a85ad4;
}

.counter-2 {
  background: #a85ad4;
}

.teamtwo .team-member .social-link li a,
.team-three .social-link li a {
  background: #a85ad4;
}

.teamtwo .team-member .social-link li a:hover,
.team-three .social-link li a:hover {
  color: #a85ad4;
  border: 1px solid #a85ad4;
}

.teamtwo .team-member .title {
    color: #a85ad4;
}

.pricetwo .pt-color2 {
  background: #a85ad4;
}

.pricetwo .hot-price {
  color: #a85ad4;
}

.pricetwo .features-price {
  border: 1px solid #a85ad4;
}

.pricetwo .hot-label {
  background: #a85ad4;
}

.price-alpha-1 {
    color: #a85ad4;
}

.widget .media-heading a:hover {
  color: #a85ad4;
}

span.post-date {
    font-size: 12px;
    color: #a85ad4;
}

.cbp::after, .cbp-lazyload::after, .cbp-popup-loadingBox::after, .cbp-popup-singlePageInline::after {
    border-top: 3px solid #a85ad4;
}

.nav-menu > li.nav-active > a {
    color: #a85ad4;
}

.nav-menu > li.nav-active > a .submenu-indicator-chevron {
    border-color: transparent #a85ad4 #a85ad4 transparent;
}